<div *ngIf="listQuote; else none">

<h1>List of quotes:</h1>

<table>
    <thead>
        <tr>
            <th>id</th>
            <th>Author</th>
            <th>Quotes</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let list of listQuote">
            <td>{{list.id}}</td>
            <td>{{list.author}}</td>
            <td>{{list.quote}}</td>
        </tr>
    </tbody>
</table>
</div>
<ng-template #none>There are no quotes for the moment. <br /> You can create one!</ng-template>
<div>
    <a href="/">Create a quote</a>
</div>